<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login myapp</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="form">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="/" method="post">
            <p>Name:</p>
                <input type="text" placeholder="Full name" name="name">
            <p>Emali:</p>
                <input type="text" placeholder="Emali" name="email">
            <p>id:</p>
                <input type="text" placeholder="id" name="roll">
            <button type="submit">Create listing</button>
        </form>
        <form action="/viwe">
            <button type="submit" style="margin-top: 20px;">view_list</button>
        </form>
    </div>
</body>
</html>